{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Smart Recipe{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
    <body>

    <div class="app-container">

        <!-- Sidebar -->
        <aside class="sidebar">
            <button id="toggleSidebar" class="toggle-btn">☰</button>
           <div class="logo">
            🍳 <span class="logo-text">Smart Recipe</span>
            </div>

            <nav>
                <ul class="nav-list">
                    <li>
                        <a href="{% url 'dashboard' %}" class="{% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
                            <span class="icon">🏠 </span>
                            <span class="menu-text">Inicio </span>
                        </a>
                    </li>
                </ul>

                <span class="section-title">MI RECETARIO</span>

                <ul class="nav-list">
                    <li>
                        <a href="{% url 'recipes_list' %}" class="{% if request.resolver_match.url_name == 'recipes_list' %}active{% endif %}">
                            <span class="icon">📖</span>
                            <span class="menu-text">Todas las recetas</span>
                        </a>
                    </li>  

                    <li>
                        <a href="#">
                            <span class="icon">❤️</span>
                            <span class="menu-text">Favoritas</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <span class="icon">➕</span>
                            <span class="menu-text">Nueva receta</span>
                        </a>
                    </li>
                </ul>

                <span class="section-title">CHEF IA</span>

                <ul class="nav-list">
                    <li>
                        <a href="#">
                            <span class="icon">🥕</span>
                            <span class="menu-text">Buscar por ingredientes</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <span class="icon">✨</span>
                            <span class="menu-text">Generar receta</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <span class="icon">💬</span>
                            <span class="menu-text">Asistente culinario</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>

        <!-- Contenido -->
        <main class="main-content">
            <header class="topbar">
                <div class="search-container">
                    <input type="text" class="form-control search-bar" placeholder="🔍 Buscar recetas...">
                </div>
            </header>

            <section class="content">
                {% block content %}
                {% endblock %}
            </section>
        </main>

    </div>

    <script
         src="{% static 'js/app.js' %}">
    </script>

</body>

</html>